{
  admin off
}

janie.page {
  redir https://davisgroup.uk{uri} permanent
}

davisgroup.uk {
  root * /var/www/html
  file_server {
    precompressed gzip zstd
  }
}

secret.davisgroup.uk {
  root * /var/www/secret
  basic_auth {
    secret insert_secret_here
  }
  file_server {
    precompressed gzip zstd
  }
}

ip.davisgroup.uk {
  templates
  header Content-Type text/plain
  respond "{{.RemoteIP}}"
}

gnuplex.davisgroup.uk {
  redir / https://github.com/steve4650/gnuplex
  redir /install.sh https://raw.githubusercontent.com/steve4650/gnuplex/refs/heads/main/install_files/install.sh
}
